<p id="notice"><%= notice %></p>

<h2>Enter User Name</h2>
  <%= form_with url: new_complaint_path, local: true, method: 'get' do |f| %>
    <%= f.label(:search, 'Search:') %>
    <%= f.text_field :search, {id: "search", :oninput=> ("set_name()")} %></td>
    <%= f.label:name, 'Name:' %>
    <%= f.select :name, @users, {}, {:value => params[:name], :id => "name"} %>
    <%= f.submit "Select" %>
<% end %>
<p id= "names" hidden> <%= $users %> </p>
