<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th><strong>User name</strong></th>
      <th><strong>Invoice #</strong></th>
      <th><strong>Order #</strong></th>
      <th><strong>Lot #</strong></th>
      <th><strong>Part code</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @complaint.user %></td>
      <td><%= @complaint.invoice %></td>
      <td><%= @complaint.order %></td>
      <td><%= @complaint.lot %></td>
      <td><%= @complaint.part %></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th><strong>Qty</strong></th>
      <th><strong>Date of issue</strong></th>
      <th><strong>Issue</strong></th>
      <th><strong>Issue2</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @complaint.part_count %></td>
      <td><%= display_date(@complaint.issue_date) %></td>
      <td><%= @complaint.issue %></td>
      <td><%= @complaint.issue2 %></td>
    </tr>
  </tbody>
</table>
<table>
  <thead>
    <tr>
      <th><strong>Notes</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @complaint.notes %></td>
    </tr>
  </tbody>
</table>
<table id="listtab"  class="stripe" class="mytable" class="display" cellspacing="0" >
  <thead>
    <tr>
      <th> Image </th>
      <th> Show </th>
    </tr>
  </thead>
  <tbody>
    <% @complaint.complaint_images.each do |c| %>
      <% if !c.image.blank? %>
      <tr>
        <td><%= image_tag c.image.thumb.url %></td>
        <td><%= link_to 'Show',  controller: "complaints", action: "showimage", id: c %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_complaint_path(@complaint) %>
<%= link_to 'Active', complaints_summary_path %>
<%= link_to 'Inactive', complaints_inactive_path %>
